
.container {
  margin: 1px;
}

.flexTwoboxes {
  display: flex;
  gap: 2rem;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 15px;   
  margin-bottom: 10px; 
}

.form-row label {
  width: 120px; 
}

.ulFormatting {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  gap: 16px;
}

h1 {
  color: brown;
  text-align: center;
}

.addButton:hover {
  background-color: limegreen;
}

.addButton {
  background-color: lightgray;
  border-color: black;
  border-radius: 10px;
  padding: 8px;
}

.removeLine {
  text-decoration: none;
}

span {
  color: #0a58ca;
}

input {
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

.alignFilter {
  position: relative;
  top: 15px;
}

.lead-card {
  border: 1px solid brown;
  padding: 5px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
}

.lead-name {
  font-weight: 600;
  color: #0a58ca;
}

.lead-name-listScreen {
  font-weight: 600;
  color: #0a58ca;
}

.lead-name-listScreen::after {
  content: "Click for details";
  position: absolute;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.lead-name-listScreen:hover::after {
  opacity: 1;
}

/**/


.agent-name {
  font-weight: 600;
  color: green;
}

.agent-name::after {
  content: "Click for details";
  position: absolute;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.agent-name:hover::after {
  opacity: 1;
}


/**/

.lead-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr; 
  gap: 12px;
  margin-bottom: 12px;
}

.selectDiv {
  border: 1px solid black;
  padding: 2px 2px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.smallButton {
  background-color: black;
  padding: 5px;
  color: white;
}

.smallButton:hover {
  background-color: white;
  color: black;
}

.submitButton{
  background-color: black;
  padding: 2px;
  color: white;
}

.submitButton:hover{
  background-color: white;
  color: black;
}

.agent-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr; 
  gap: 20px;
  margin-bottom: 12px;
}

.agent-card {
  border: 1px solid brown;
  padding: 5px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
}

/*center the page and content and background color*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

main {
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  padding-bottom: 2rem;
}

.pageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background classes for each page */
.bg-dashboard {
  background-color: aquamarine;
}

.bg-addPage {
  background-color: #33FF66;
}

.bg-leadList {
  background-color: #FFFF99;
}

.bg-leadManagement {
  background-color: #CCFFFF;
}

.bg-salesAgentManagement {
  background-color: #ffb7b5;
}

.bg-leadByStatus {
  background-color: #ffff4d;
}

.bg-salesAgentView {
  background-color: #FFD59A;
}

.bg-reportScreen {
  background-color: #FFD700;
}

.quick-filter:hover {
  background-color: grey;
  color: white;
}

.quick-filter {
  border: 1px solid orangered;
  padding: 4px;
  border-radius: 5px;
}

.dashboard-sidebar {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 14px 14px;    
  background-color: white;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 80px;
}

.pages-sidebar {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 50px;      
  background-color: white;
  width: 140px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-right: 80px;
}
